.DS_Store
node_modules
/build
/.svelte-kit
/package
/older-tests
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src/lib/learnings.md
.VSCodeCounter/
renders/
static/scene-assets/
static/scene-assets-TO-REMOVE/
static/blue-noise-textures/all