@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Bold.ttf') format('truetype');
  font-weight: 700;
}
